{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/semantic/dist/semantic.min.css' %}">
    <script src="{% static '/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static '/semantic/dist/semantic.min.js' %}"></script>
    <script src="{% static '/main/tablesort.js' %}"></script>
</head>

<body>
    <script>
        $(document).ready(function () {
            // tablesort.js - allow sorting of table through headers
            console.log("DOM Loaded - loading tablesort");
            $('table').tablesort();

            $('.label.ui.dropdown')
                .dropdown();

            $('.no.label.ui.dropdown')
                .dropdown({
                    useLabels: false
                });

            // To reset categories: comment out when ready again
            /*
            $('.ui.button').on('click', function () {
                $('.ui.dropdown')
                    .dropdown('restore defaults')
            })
            */

            // Controls new tool entry form modal and button
            $("#test").click(function () {
                $(".test").modal('show');
            });
            $(".test").modal({
                closable: true
            });
            $('.ui.form')
                .form({
                    fields: {
                        tool_name: { rules: [{ type: 'empty', prompt: 'You must specify a tool name' }] },
                        tool_link: { rules: [{ type: 'empty', prompt: 'You must specify a link to the tool' }, { type: 'url', prompt: 'This link to the tool must be a valid url' }] },
                        tool_description: { rules: [{ type: 'empty', prompt: 'You must provide a description of the tool' }] },
                        tool_logo_link: { rules: [{ type: 'empty', prompt: 'You must specify a link to the image of the logo of the tool' }, { type: 'url', prompt: 'This link to the logo of the tool must be a valid url' }] },
                        tool_categories: { rules: [{ type: 'empty', prompt: 'You must specify at least one category that this tool fits into' }] },
                    }
                });

        });
    </script>

    <div class="ui center aligned container" style="margin-top: 5px">
        <img class="ui tiny centered image" src="{% static '/site-logo-50.png' %}">
        <h1 class="ui header" style="margin-bottom: 0px; margin-top: 0px"> Encephalocosm </h1>
        <p style="margin-bottom: 0px; margin-top: 5px"> (en-ceph-a-lo-cosm)</p>
        <h4 style="margin-bottom: 0px; margin-top: 5px"> Making science accessible, and academia simpler.</h4>

        <div class="ui divider"> </div>

        <div class="ui padded raised blue segment">
            <h2> Open Science Tools Directory </h2>

            <div id="control-buttons">
                <button class="ui labeled primary icon button" id="test">
                    <i class="plus icon"></i>
                    Submit new tool
                </button>



                <br>
                <br>
                <div class="ui toggle checkbox" style="margin-right: 20px">
                    <input type="checkbox" name="public">
                    <label>Developer</label>
                </div>

                <div class="ui toggle checkbox">
                    <input type="checkbox" name="public">
                    <label>Show Beta Products</label>
                </div>



                <div class="ui centered segment">
                    <h4> Select from these available categories to filter the displayed tools </h4>
                    <center> <select name="categories_filter" multiple="" class="ui label selection fluid large search dropdown"
                            style="display: block; margin: 0 auto;">
                    </center>
                    <!-- <option value="1">Change Methodology</option> -->
                    <option value="" disabled selected> Select categories to filter </option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                </div>

            </div>

            <table class="ui sortable celled padded large table">
                <thead>
                    <tr>
                        <th class="single line sorted descending">Popularity</th>
                        <th>Name</th>
                        <th style="min-width: 200px">Added On</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tool in tools %}
                    <tr>
                        <td>
                            <h2 class="ui center aligned header">{{ tool.id }}</h2>
                        </td>
                        <td class="single line">
                            <a href="{{ tool.link }}">{{ tool.name }}</a>
                        </td>
                        <td>
                            {{ tool.updated_at |date:"jS M Y" }}
                        </td>
                        <td>{{ tool.description }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">
                            <div class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <a class="item">4</a>
                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>


    </div>

    <!-- This is our add-tool popup -->
    <div class="ui modal test">
        <div class="ui aligned grid">
            <div class="column">
                <h2 class="ui center aligned blue header" style="margin-top: 20px">
                    <!-- <img src="{% static '/site-logo-25.png' %}" class="image"> -->
                    <div class="content">
                        Submit tool to directory for approval
                    </div>
                </h2>
                <form class="ui large form" action="/new_tool" method="POST">
                    {% csrf_token %}
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="edit icon"></i>
                                <input type="text" name="tool_name" placeholder="Tool name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="linkify icon"></i>
                                <input type="text" name="tool_link" placeholder="URL link to tool">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <!--<i class="linkify icon"></i> -->
                                <textarea name="tool_description" placeholder="Description of tool"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="linkify icon"></i>
                                <input type="text" name="tool_logo_link" placeholder="Link to logo for tool">
                            </div>
                        </div>
                        <div class="field">
                            <select id="tool_categories" name="tool_categories" multiple="" class="ui label selection fluid large search dropdown">
                                <option value="" disabled selected>Select categories that this tool fits
                                    into </option>

                                {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="tool_is_for_developers">
                                <label>Is this tool for developers only?</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="tool_is_beta">
                                <label>Is this tool in beta?</label>
                            </div>
                        </div>


                        <div class="ui error message">
                        </div>

                        <input type="submit" value="Submit Tool" class="ui button center aligned fluid primary" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>