{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/main/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/semantic/dist/semantic.min.css' %}">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{% static '/semantic/dist/semantic.min.js' %}"></script>

<div class="grid-container">
    <div class="site-logo"><img src="{% static '/site-logo-50.png' %}" alt="Site Logo"></div>
    <div class="enceph-header">
        <h2> Encephalocosm </h2>
        <p> Making science accessible, and academia simpler. </p>
    </div>
    <div class="list-header grid-item">Open Science Tools Directory</div>
    <div class="list-item grid-item">Stuff</div>
</div>