{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/semantic/dist/semantic.min.css' %}">
    <meta charset="utf-8">
    <title>Encephalocosm</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="{% static '/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static '/semantic/dist/semantic.min.js' %}"></script>
    <script src="{% static '/main/tablesort.js' %}"></script>
</head>

<body>
    <script>
        $(document).ready(function () {
            // tablesort.js - allow sorting of table through headers
            $('table').tablesort();

            $('.label.ui.dropdown')
                .dropdown();

            $('.no.label.ui.dropdown')
                .dropdown({
                    useLabels: false
                });

            // To reset categories: comment out when ready again
            $('#clear-filters').on('click', function () {
                $('.ui.dropdown')
                    .dropdown('restore defaults')
            })

            // Controls new tool entry form modal and button
            $("#test").click(function () {
                $(".test").modal('show');
            });
            $(".test").modal({
                closable: true
            });
            $('.ui.form')
                .form({
                    fields: {
                        tool_name: { rules: [{ type: 'empty', prompt: 'You must specify a tool name' }] },
                        tool_link: { rules: [{ type: 'empty', prompt: 'You must specify a link to the tool' }, { type: 'url', prompt: 'This link to the tool must be a valid url' }] },
                        tool_email: { optional: true, rules: [{ type: 'email', prompt: 'The email provided must be valid' }] },
                        tool_description: { rules: [{ type: 'empty', prompt: 'You must provide a description of the tool' }] },
                        tool_logo_link: { rules: [{ type: 'empty', prompt: 'You must specify a link to the image of the logo of the tool' }, { type: 'url', prompt: 'This link to the logo of the tool must be a valid url' }] },
                        tool_categories: { rules: [{ type: 'empty', prompt: 'You must specify at least one category that this tool fits into' }] },
                    }
                });

            // this is the id of the form
            $("#new-tool-form").submit(function (e) {
                if ($('#new-tool-form').form('is valid')) {
                    var form = $(this);
                    var url = '/new_tool';


                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        success: function (data) {
                            $('#tool-submit-modal').children('.content').html('<div class="ui success message"><p>Tool successfully submitted! Please wait a while for moderators to approve your submission.</p></div>');
                            $('#tool-submit-modal').modal('show');
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            var error_html_open = '<div class="ui error message"><p>Form validation errors detected.</p><ul>';
                            var error_html_close = '</ul></div>';

                            var error_list = "";
                            try {
                                error_dict = JSON.parse(xhr.responseText);
                                console.log(error_dict)
                                console.log(typeof(error_dict))
                            } catch (err) {
                                console.log(err);
                                error_dict = {"Error": "Invalid fields in form"}
                            }
                            Object.keys(error_dict).forEach(function (key) {
                                error_list += "<li>Error for field " + key + ": " + error_dict[key] + "</li>";
                            });
                            $('#tool-submit-modal').children('.content').html(error_html_open + error_list + error_html_close);
                            $('#tool-submit-modal').modal('show');
                        },
                    });
                }
                e.preventDefault(); // avoid to execute the actual submit of the form.
            });

            $('#about-us-popup').popup();
            $('#about-tools-popup').popup();
            $('#image-popup').popup();
            $('#filter-accordion').accordion();

            function findGetParameter(parameterName) {
                var result = [],
                    tmp = [];
                var items = location.search.substr(1).split("&");
                for (var index = 0; index < items.length; index++) {
                    tmp = items[index].split("=");
                    if (tmp[0] === parameterName) result.push(decodeURIComponent(tmp[1]));
                }
                if (result.length == 1) { return result[0]; }
                else if (result.length == 0) { return null; }
                else { return result; }
            }

            var some_filter_selected = false;

            $("input[name=targetaudience]").each(function () {
                var targetaudience = findGetParameter('targetaudience') || "all";
                this.checked = (this.value == targetaudience);

                if (targetaudience != "all") { some_filter_selected = true; }
            })

            $("input[name=devstate]").each(function () {
                var devstate = findGetParameter('devstate') || "all";
                this.checked = (this.value == devstate);

                if (devstate != "all") { some_filter_selected = true; }
            })

            $("select[name=categories_filter]").children().each(function () {
                var selected_categs = findGetParameter('categories_filter');
                if (selected_categs == null) return;
                if (selected_categs.indexOf(this.value) != -1) {
                    $("select[name=categories_filter]").dropdown('set selected', this.value);
                    some_filter_selected = true;
                }
            })

            // If we have selected any filter at all: we expand our filter dropdown by default
            if (some_filter_selected) {
                $('#filter-accordion').accordion('open', 0);
                $('#filters-active-message').show();
                $('#filters-inactive-message').hide();
            } else {
                $('#filters-active-message').hide();
                $('#filters-inactive-message').show();
            }

        });

        function goToPage(pagenum) {
            console.log(pagenum)
            var params = window.location.search;
            window.location.href = "/" + pagenum + params;
        }

        function goToNextPage(pagenum) {
            goToPage(Math.min(parseInt(pagenum) + 1, {{ max_page_num }}));
            }
        function goToPrevPage(pagenum) {
            goToPage(Math.max(parseInt(pagenum) - 1, 1));
        }
    </script>

    <div class="ui center aligned container" style="margin-top: 5px">
        <img class="ui small centered image" src="{% static '/site_logo_unlock.png' %}">
        <div class="ui centered grid">
            <div class="row">
                <h1 class="ui header" style="margin-bottom: 0px; margin-top: 0px; margin-right: 3px"> Encephalocosm
                </h1>
                <div id="about-us-popup" data-html="<h4> About EC</h4>
Encephalocosm is a pop up initiative that addresses specific needs of the Open Science Ecosystem where it thinks it can add value. Fueled by the community, it offers an open and flexible platform to address these needs. Welcome, fellow EC Contributor, and science away! <h4> Meaning </h4> Encephalon (Brain) + Cosm (Universe)"
                    data-variation="wide" class="ui circular inline icon">
                    <i class="circular blue inverted info small icon"></i>
                </div>
            </div>
        </div>
        <div>
            <p id="name-about-popup" style="margin-bottom: 0px; margin-top: 5px"> (en-ceph-a-lo-cosm)</p>


            <h4 style="margin-bottom: 0px; margin-top: 5px"> Making science accessible, and academia simpler.</h4>

            <div class="ui divider"> </div>


            <div class="ui centered grid">
                <div class="row">
                    <h2 style="margin-right: 3px"> Open Science Tools Directory </h2>
                    <div id="about-tools-popup" data-html="<h4> About this directory</h4>
User-submitted open science tools for the benefit of the open science ecosystem."
                        data-variation="wide" class="ui circular inline icon">
                        <i class="circular blue inverted info small icon"></i>
                    </div>
                </div>
            </div>

            <div id="control-buttons">
                <button class="ui labeled primary icon button" id="test">
                    <i class="plus icon"></i>
                    Submit new tool
                </button>



                <br>
                <br>




                <div class="ui centered raised segment">
                    <div class="ui accordion" id="filter-accordion">
                        <div class="title">
                            <h3 style="display: inline"> Select filters for the available tools </h3>

                            <p style="display: inline"> (click to expand/fold) </p>
                            <i class="dropdown icon"></i>
                            <br>
                            <div id="filters-active-message" class="ui warning message">Filters Active</div>
                            <div id="filters-inactive-message" class="ui info message">No Filters Active</div>
                        </div>

                        <div class="content">

                            <p> These categories are based on the <a href="{% static '/kramer-bosman.pdf' %}" target="_blank">
                                    Kramer / Bosman research phases </a> | <a href="{% static 'researcher-flow.jpg' %}"
                                    target="_blank"> (view image) </a> </p>
                            <form class="ui form" action="/" method="GET">
                                <div class="ui stackable grid">
                                    <div class="twelve wide column">
                                        <div class="field">
                                            <select name="categories_filter" multiple="" class="ui label fluid large selection search dropdown">
                                                <!-- <option value="1">Change Methodology</option> -->
                                                <option value="" disabled selected> Select categories to filter
                                                </option>
                                                {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="four wide column">
                                        <div class="ui large fluid button" id="clear-filters"> Clear </div>

                                    </div>

                                </div>
                                <div class="ui segment">
                                    <br>
                                    <div class="ui three column center aligned stackable grid">
                                        <div class="row" style="padding-top: 0px; padding-bottom: 10px">
                                            <div class="sixteen wide column">
                                                <h4>Filter target audience of tool</h4>
                                            </div>
                                        </div>
                                        <div class="three wide column">
                                            <div class="field">
                                                <div class="ui slider checkbox">
                                                    <input type="radio" name="targetaudience" value="all">
                                                    <label>All</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three wide column">
                                            <div class="field">
                                                <div class="ui slider checkbox">
                                                    <input type="radio" name="targetaudience" value="researchers">
                                                    <label>For Researchers</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="three wide column">
                                            <div class="field">
                                                <div class="ui slider checkbox">
                                                    <input type="radio" name="targetaudience" value="developers">
                                                    <label>For Developers</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top: 30px; padding-bottom: 10px">
                                            <div class="sixteen wide column">
                                                <h4>Filter state of development of tool</h4>
                                            </div>
                                        </div>
                                        <div class="three wide column">
                                            <div class="field">
                                                <div class="ui slider checkbox">
                                                    <input type="radio" name="devstate" value="all">
                                                    <label>All</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="three wide column">
                                            <div class="field">
                                                <div class="ui slider checkbox">
                                                    <input type="radio" name="devstate" value="beta">
                                                    <label>In Beta</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="three wide column">
                                            <div class="field">
                                                <div class="ui slider checkbox">
                                                    <input type="radio" name="devstate" value="released">
                                                    <label>Released</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="two wide column">
                                    <input type="submit" value="Apply Selected Filters" class="ui green button" />
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

            <table class="ui unstackable sortable celled padded large table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="min-width: 200px">Description</th>
                        <th>Categories</th>
                        <th>Added On</th>
                        <th>For Devs?</th>
                        <th>In Beta?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tool in tools %}
                    <tr>
                        <td>
                            <a href="{{ tool.link }}">{{ tool.name }}</a>
                        </td>
                        <td>{{ tool.description }}</td>
                        <td>{{ tool.categories.all|join:", " }}</td>
                        <td data-sort-value='{{ tool.updated_at |date:"U" }}'>
                            {{ tool.updated_at |date:"jS M Y" }}
                        </td>
                        <td>{{ tool.is_for_developers|yesno:"Yes,No" }}</td>
                        <td>{{ tool.is_beta|yesno:"Yes,No" }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui right floated pagination menu">
                                <a onclick="goToPrevPage({{cur_page_num}})" class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                {% for pagenum in page_numbers %}
                                {% if pagenum == cur_page_num %}
                                <a onclick="goToPage({{pagenum}})" class="active item">{{ pagenum }}</a>
                                {% else %}
                                <a onclick="goToPage({{pagenum}})" class="item">{{ pagenum }}</a>
                                {% endif %}
                                {% endfor %}
                                <!-- 
                                <a class="active item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <a class="item">4</a>
                                -->
                                <a onclick="goToNextPage({{cur_page_num}})" class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>

        <!-- This is our add-tool popup -->
        <div class="ui modal test">
            <div class="ui aligned grid">
                <div class="column">
                    <h2 class="ui center aligned blue header" style="margin-top: 20px">
                        <!-- <img src="{% static '/site-logo-25.png' %}" class="image"> -->
                        <div class="content">
                            Submit tool to directory for approval
                        </div>
                    </h2>
                    <form class="ui large form" id="new-tool-form">
                        {% csrf_token %}
                        <div class="ui basic segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="edit icon"></i>
                                    <input type="text" name="tool_name" placeholder="Tool name">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="linkify icon"></i>
                                    <input type="text" name="tool_link" placeholder="URL link to tool">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <!--<i class="linkify icon"></i> -->
                                    <textarea name="tool_description" placeholder="Description of tool"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="linkify icon"></i>
                                    <input type="text" name="tool_email" placeholder="Contact email for follow-up questions, if any (optional)">
                                </div>
                            </div>
                            <div class="field">
                                <select id="tool_categories" name="tool_categories" multiple="" class="ui label selection fluid large search dropdown">
                                    <option value="" disabled selected>Select categories that this tool fits
                                        into </option>

                                    {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" name="tool_is_for_developers">
                                    <label>Is this tool for developers only? (By default, tools are listed as for
                                        researchers)</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" name="tool_is_beta">
                                    <label>Is this tool in beta? (By default, tools are listed as being in a
                                        released
                                        state)</label>
                                </div>
                            </div>


                            <div class="ui error message">
                            </div>

                            <input type="submit" value="Submit Tool" class="ui button center aligned fluid primary" />



                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="ui raised segment">
        <h3 style="margin-right: 3px"> Twitter Stream </h3>
        <div class="ui horizontal segments">
            <div class="ui blue segment">
                <p><a href="https://twitter.com/hashtag/OA?src=hash">#OA</a></p>
            </div>
            <div class="ui red segment">
                <p><a href="https://twitter.com/hashtag/openaccess?src=hash">#openaccess</a></p>
            </div>
            <div class="ui green segment">
                <p><a href="https://twitter.com/hashtag/openscience?src=hash">#openscience</a></p>
            </div>
            <div class="ui yellow segment">
                <p><a href="https://twitter.com/hashtag/ScienceOpen?src=hash">#scienceopen</a></p>
            </div>
            <div class="ui purple segment">
                <p><a href="https://twitter.com/hashtag/opendata?src=hash">#opendata</a></p>
            </div>
            <div class="ui orange segment">
                <p><a href="https://twitter.com/hashtag/SciComm?src=hash">#scicomm</a></p>
            </div>
            <div class="ui violet segment">
                <p><a href="https://twitter.com/hashtag/opensource?src=hash">#opensource</a></p>
            </div>
        </div>
        <div class="ui labeled input">
                <div class="ui right pointing blue basic label">Suggest a tag to follow</div>
            <div class="ui label">
              #
            </div>
            <input type="text" placeholder="tag name">
          </div>
          </div>
          <h4 style="margin-right: 3px"> To contribute to the Open Science Ecosystem, Join us: <a href="https://web.telegram.org/#/im?p=@osftw">Telegram Group</a> </h4>
          <div class="ui divider"> </div>
          <div class="ui vertical footer segment">
            <div class="ui center aligned container">
                Encephalocosm (2018). Licensed under the <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">
                    Creative Commons (CC0) license </a>. <br>
                Contact <a href="mailto:sriramsami@u.nus.edu">Sriram Sami </a> and <a href="mailto:sathyasaisanjay@gmail.com">Sanjay</a>
            </div>
        </div>


        <div class="ui modal" id="tool-submit-modal">
            <div class="header">Tool Submission</div>
            <div class="content">

            </div>
            <div class="actions">
                <div class="ui cancel button">Close</div>
            </div>
        </div>

</body>