h1 {
    text-align: center
}

body {
    font-family: "Open Sans"
}

.grid-container {
  display: grid;
  grid-gap: 50px 0px;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: 100px, 200px, 300px;
  /* background-color: #2196F3; */
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.site-logo {
    grid-column: 1;
    grid-row: 1;
}

.enceph-header {
    font-size: 2em;
    grid-column: 1 / 7;
    grid-row: 1;
    text-align: center;
}

.list-header {
    font-size: 5em;
    font-weight: bold;
    grid-column: 1 / 7;
    grid-row: 2;

}

.list-item {
    font-size: 5em;
    font-weight: bold;
    grid-column: 1 / 7;
    grid-row: 3;

}



.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.ui.dropdown {
  max-width: 800px;
}

@media only screen and (max-width: 767px) {
    .ui.selection.dropdown .menu {
/*      max-height: 8.01428571rem; /* + 1.335714285 to 9.349999995rem */
/*      max-height: 9.349999995rem; /* Adds a half */
        max-height: 16.02857142rem; /* Double size */
    }
}
@media only screen and (min-width: 768px) {
    .ui.selection.dropdown .menu {
/*         max-height: 10.68571429rem; /* + 1.3357142863 to 12.0214285763rem */
      max-height: 12.0214285763rem;
    }
}
@media only screen and (min-width: 992px) {
    .ui.selection.dropdown .menu {
      max-height: 16.02857143rem; /* + 1.3357142858 to 17.3642857158rem */
    }
}
@media only screen and (min-width: 1920px) {
    .ui.selection.dropdown .menu {
        max-height: 21.37142857rem; /* + 1.3357142856 to 22.7071428556rem */
    }
}